streamlit
python-dotenv
openai
langchain
langchain-text-splitters
langchain-community
langchain-openai
langchain-chroma
chromadb
tavily-python
crewai
apify-client
requests
pypdf
python-docx
python-pptx
plotly
pandas
numpy
